<h1><%= @store.name %></h1>

<h2>Details</h2>
<ul>
    <li>Name: <%= @store.name %></li>
    <li>City: <%= @store.city %></li>
    <li>Items:
        <ul>
            <% @store.items.each do |item| %>
                <li><%= link_to item.name, item_path(item.id) %></li>
            <% end %>
        </ul>
    </li>
</ul>
<br>
<div>
<%= link_to "Go back to all stores", stores_path %>
</div>