<h1>Edit a Item</h1>

<div>
    <%= form_for @item do |f| %>
        <%= f.label "Item Name:" %>
        <%= f.text_field :name %><br />
        <%= f.label "Item Price:" %>
        <%= f.text_field :price %><br />
        <%= f.label "Item sport:" %>
        <%= f.text_field :sport %> <br />
        <%= f.label "Select store:" %>
        <%= f.collection_check_boxes(:store_ids, Store.all, :id, :name) %><br />
        <br>
        <%= f.submit %>
    <% end %>
</div>

