<h1>Creating a New Item</h1>

<%= form_for @item do |f| %>
    <%= f.label "Item Name:" %>
    <%= f.text_field :name %><br />
    <%= f.label "Item Price:" %>
    <%= f.text_field :price %><br />
    <%= f.label "Item sport:" %>
    <%= f.text_field :sport %> <br />
    <%= f.submit %>
<% end %>